.contact__section {
    padding: 50px 20px 80px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contact__title {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 700;
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.contact__title:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 3px;
    background-color: #149ddd;
}

.contact__title h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contact__title p {
    font-size: 16px;
    color: #6c757d;
}

.contact__container {
    max-width: 1200px;
    margin: 35px auto;
    padding: 0 20px;
}

.contact__row {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.contact__col1,
.contact__col2 {
    flex: 1;
}

.contact__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact__infoItem {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.contact__icon {
    font-size: 24px;
    color: #0d6efd;
}

.contact__infoItem h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.contact__infoItem p {
    font-size: 14px;
    color: #6c757d;
}

.contact__map {
    width: 100%;
    height: 270px;
    border: none;
    margin-top: 20px;
}