.hero_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    padding: 50px 20px;
    position: relative;
    z-index: 0;
    height: 100dvh;
    width: 100%;
    background-color: #353434d0;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }
}

.hero_section .videoContainer {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    background-color: #000000d0;
    height: 100%;
    width: 100%;
}
.hero_section img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    background-color: #000000d0;
    height: 100%;
    width: 100%;
}

.hero__title {
    color: white;
    font-size: 64px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    z-index: 999;
}

.hero__subtitle {
    color: white;
    font-size: 26px;
    letter-spacing: 1px;
    font-family: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    z-index: 999;
}

.hero__subtitleTyped {
    border-bottom: 2px solid #149ddd;
    padding-bottom: 2px;
}