.scrollToTop {
  position: fixed;
  right: 30px;
  bottom: 30px;
  background: #149ddd;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  padding: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
  z-index: 998;
  opacity: 0;
  transform: translateY(20px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.scrollToTop.visible {
  opacity: 1;
  transform: translateY(0);
}

.scrollToTop:hover {
  background: #0d8bf2;
  transform: translateY(-3px);
}

.icon {
  color: white;
  font-size: 18px;
}

@media (max-width: 768px) {
  .scrollToTop {
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    padding: 10px;
  }
  
  .icon {
    font-size: 16px;
  }
}