.center {
  text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}

.switch > span {
  position: absolute;
  top: 12px;
  pointer-events: none;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
  width: 50%;
  text-align: center;
}

.checkToggleRoundFlat:checked ~ .off {
  color: #149ddd;
}

.checkToggleRoundFlat:checked ~ .on {
  color: #fff;
}

.switch > .on {
  left: 0;
  padding-left: 2px;
  color: #149ddd;
}

.switch > .off {
  right: 0;
  padding-right: 4px;
  color: #fff;
}

.checkToggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.checkToggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
}

.checkToggleRoundFlat + label {
  padding: 2px;
  width: 100px;
  height: 35px;
  background-color: #149ddd;
  border-radius: 60px;
}

.checkToggleRoundFlat + label:before,
.checkToggleRoundFlat + label:after {
  display: block;
  position: absolute;
  content: "";
}

.checkToggleRoundFlat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #149ddd;
  border-radius: 60px;
}

.checkToggleRoundFlat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: #fff;
  border-radius: 52px;
  transition: margin 0.2s;
}

.checkToggleRoundFlat:checked + label:after {
  margin-left: 44px;
}
