.featuresGallery {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}

.featuresGallery__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
    text-align: start;
    overflow: hidden;
}


.featuresGallery__image-link {
    display: flex;
    justify-content: center;;
    cursor: pointer;
    height: 230px;

}

.featuresGallery__image {
    transition: transform 0.3s ease-in;
    height: 100%;
    width: auto;
    object-fit: cover;
}

.featuresGallery__image:hover {
    transform: scale(1.05);
}

.featuresGallery-featureList {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.featuresGallery li {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #6c757d;
    margin-bottom: 15px;
    line-height: 1.6;
    font-style: italic;
}

.featuresGallery-featureIcon {
    color: #149ddd;
    font-size: 1.3rem;
    margin-top: 4px;
    flex-shrink: 0;
}

@media (max-width: 900px) {
    .featuresGallery__image-link {
        width: 100%;
    }
}

@media (max-width: 300px) {
    .featuresGallery__image-link {
        width: 100%;
    }
}