.body {
    display: flex;
    min-height: 100dvh;
    flex-direction: row;
}

.main {
    margin-left: 300px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@media (max-width: 1200px){
    .main {
        margin-left: 0;
    }
}