
.my-lightbox {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}

.my-lightbox__image-link {
    display: block;
    cursor: pointer;
    width: 300px;
    height: 250px;
    overflow: hidden;
}

.my-lightbox__image {
    transition: transform 0.3s ease-in;
    object-fit: cover;
    object-position: center center ;
    width: 100%;
    height: 100%;
}

.my-lightbox__image:hover {
    transform: scale(1.05);
}

@media (max-width: 900px) {
    .my-lightbox__image-link {
        width: 48%;
    }
}

@media (max-width: 468px) {
    .my-lightbox__image-link {
        width: 90%;
    }
}