.about__section {
    padding: 50px 20px 80px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.about__title {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 700;
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 20px;
    ;
}

.about__title:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 3px;
    background-color: #149ddd;
}

.about__desc {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 45px;
    ;
}

.about__content {
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
}

.about__col1 {
    flex: 1;
}

.about__col1 img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    display: block;
    ;
}

.about__col2 {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
}

.about__col2__title {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.about__col2__desc {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 45px;
}

@media (max-width: 768px) { 
    .about__content {
        flex-direction: column;
    }
}