.outer {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100dvh;
    overflow: hidden;
    z-index: 1;
   transition: left 0.3s;

}

.inner {
    position: relative;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #040b14;
    color: rgb(255, 255, 255);;
    border-right: 2px solid #252525;
}

.outer--visible {
    left: 0px !important;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__img {
    margin: 15px auto;
    display: block;
    width: 160px;
    height: 160px !important;
    border: 8px solid #373737;
    border-radius: 50%;
    object-fit: cover;
    object-position: -0px -47px;
}

.profile__name {
    font-family: "Raleway", sans-serif;
}

.profile__socialLinks {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.profile__socialLink {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #373737;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    transition: background-color 0.3s;
    ;
}

.profile__socialLink:hover {
    background-color: #149ddd;
}



.navmenu {
    /* styl menu */
}

.nav {
    background-color: #040b14;
    color: #a8a9b4;
    padding: 0 10px;
}

.nav__list {
    list-style: none;
    padding: 0 5px;
    margin: 0;
}

.nav__item {
    position: relative;
    padding: 8px 0;
}

.nav__link {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
    color: inherit;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 17px;
    white-space: nowrap;
    color: #a8a9b4;
    letter-spacing: 0.2px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.nav__link:hover {
    color: white
}

.nav__link:hover svg {
    color: #149ddd;
}

.nav__link:hover {
    background-color: #1a1f2c;
    border-radius: 6px;
}

.nav__icon {
    font-size: 18px;
}

.nav__iconSmall {
    font-size: 12px;
}

.dropdown:hover>.nav__dropdown {
    display: block;
}

.nav__dropdown {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #040b14;
    list-style: none;
    padding: 5px 0;
    margin: 0;
    min-width: 180px;
    border: 1px solid #373737;
    z-index: 10;
}

.nav__dropdownItem {
    padding: 8px 15px;
}

.nav__dropdownItem a {
    color: #a8a9b4;
    text-decoration: none;
    display: block;
}

.nav__dropdownItem a:hover {
    background-color: #1a1f2c;
}

@media (max-width: 1200px) {
    .outer {
        left: -300px
    }
}